---
layout: archive
title: "News"
permalink: /news/
author_profile: true
---

<div class="news-page">
  {% assign sorted_news = site.news | sort: 'date' | reverse %}
  {% for news in sorted_news %}
    {% assign formatted_date = news.date | date: "%Y-%m-%d" %}
    {% include news_entry.html
      date=formatted_date
      event=news.event
      description=news.description
      website=news.website
      website2=news.website2
      linkedin=news.linkedin
      image1=news.image1
      image2=news.image2
    %}
  {% endfor %}
</div>
