---
layout: archive
title: "Tools"
permalink: /tools/
author_profile: true
---

{% include base_path %}

<!-- Start Page Content -->
<div class="tools-page">

  <!-- FaMe Tool Section -->
  <div class="tool-card fame">
    <h2>FaMe</h2>
    <p><strong>FaMe</strong> is a BPMN-driven framework for multi-robot system development. It facilitates the definition of robotic missions using BPMN collaborations, while leveraging the ROS2 framework for system execution.</p>
    
    <div class="tool-links">
      <a href="https://github.com/SaraPettinari/fame" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/code.svg" width="20" height="20"> Code
      </a>
      <a href="https://pros.unicam.it/fame/" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/circle-info.svg" width="20" height="20"> Documentation
      </a>
    </div>
    
    <h3>Related Publications</h3>
    <ul class="publications-list">
      {% for pub in site.publications %}
        {% if pub.tool == "fame" %}
          <li>
            <strong>{{ pub.title }}</strong><br>
            <em>{{ pub.venue }}, {{ pub.date | date: "%Y" }}</em><br>
            <a href="{{ pub.paperurl }}">View Paper</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <!-- TALE Tool Section -->
  <div class="tool-card tale">
    <h2>TALE</h2>
    <p><strong>TALE</strong> is a tool that integrates the tag-based multi-perspective methodology. It helps robotic developers automatically extract multi-perspective event logs from robotic system executions and analyze them through process mining.</p>
    
    <div class="tool-links">
      <a href="https://github.com/SaraPettinari/tale" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/code.svg" width="20" height="20"> Code
      </a>
      <a href="https://pros.unicam.it/tale/" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/circle-info.svg" width="20" height="20"> Documentation
      </a>
    </div>
    
    <h3>Related Publications</h3>
    <ul class="publications-list">
      {% for pub in site.publications %}
        {% if pub.tool == "tale" %}
          <li>
            <strong>{{ pub.title }}</strong><br>
            <em>{{ pub.venue }}, {{ pub.date | date: "%Y" }}</em><br>
            <a href="{{ pub.paperurl }}">View Paper</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <!-- Soup Tool Section -->
  <div class="tool-card soup">
    <h2>Soup</h2>
    <p><strong>Soup</strong> is a WebApp designed for end users to create Event Knowledge Graphs (EKGs). Starting with an event log in a .csv file, users are guided through the creation of the EKG for object-centric process mining analysis.</p>
    
    <div class="tool-links">
      <a href="https://bitbucket.org/proslabteam/soup/src/master/" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/code.svg" width="20" height="20"> Code
      </a>
      <a href="https://pros.unicam.it/soup/" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/circle-info.svg" width="20" height="20"> Documentation
      </a>
    </div>
    
    <h3>Related Publications</h3>
    <ul class="publications-list">
      {% for pub in site.publications %}
        {% if pub.tool == "soup" %}
          <li>
            <strong>{{ pub.title }}</strong><br>
            <em>{{ pub.venue }}, {{ pub.date | date: "%Y" }}</em>
            [<a href="{{ pub.paperurl }}">View Paper</a>]
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>
