<div class="tool-card {{ include.tool_class }}">
    <h2>{{ include.tool_name }}</h2>
    <p><strong>{{ include.tool_name }}</strong> {{ include.tool_description }}</p>
    
    <div class="tool-links">
      <a href="{{ include.tool_code_url }}" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/code.svg" width="20" height="20"> Code
      </a>
      <a href="{{ include.tool_docs_url }}" target="_blank">
        <img src="https://raw.githubusercontent.com/FortAwesome/Font-Awesome/6.x/svgs/solid/circle-info.svg" width="20" height="20"> Documentation
      </a>
    </div>
    
    <h3>Related Publications</h3>
    <ul class="publications-list">
      {% for pub in site.publications %}
        {% if pub.tool == include.tool_id %}
          <li>
            <p><strong>{{ pub.title }}</strong>. <em>{{ pub.venue }}, {{ pub.date | date: "%Y" }}</em>
            [<a href="{{ pub.paperurl }}">View Paper</a>]</p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  